
@{
    ViewBag.Title = "Menu";
}

<div class="jumbotron main-box ">
    <h1> @ViewBag.Title</h1>

        <ul class="mainMenu menuha">
            <li class="button btn-primary">@Html.ActionLink("Read", "Index", "Reading")</li>
            <li class="button btn-primary">@Html.ActionLink("Library", "Index", "Books")</li>
            
            <li class="button btn-primary">@Html.ActionLink("Results", "Index", "Results")</li>
            
        </ul>
  
</div>


    






       

